<div class="jumbotron">
    <h1>Welcome Admin </h1>






</div>
<div id="demo_grid1">

</div>
<script>
    (function (){
        var xhr = new XMLHttpRequest();
       var url = '/userdata'
        xhr.open('post',url,true);
        xhr.send();
        xhr.onreadystatechange=function(){
            if(xhr.readyState ==4 && xhr.status ==200){

            }
        }
    })
</script>