<form method="post" action="/user" id="myform">

    <h1>show Title</h1>

    <p>{{foo}}</p>


    <div class="form-group">
        <label>User Name</label>
        <input type="text" id="input" class="form-control" name="username" placeholder="Username">

        <div id="text"></div>
        <!-- TODO: on change check user name -->
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="button" onclick="checkForm()" class="btn btn-default">Submit</button>
    <script>
        function checkForm() {
            var xhr = new XMLHttpRequest();
            var name = document.getElementById('myform').elements.namedItem('username').value;
            var password = document.getElementById('myform').elements.namedItem('password').value;
            var url = '/user';
            xhr.open('POST', url, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send('username=' + name + '&password=' + password);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var re = xhr.responseText;
                            window.location = re;

                }
            }
        }

    </script>
    <script>
        $('#input').on('change', function () {
            var xhr = new XMLHttpRequest();

            var url = '/userCheck';
            var name = document.getElementById('myform').elements.namedItem('username').value;
            xhr.open('POST', url, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send('username=' + name);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    localStorage.name = name;

                    var result = xhr.responseText;

                    document.getElementById('text').innerHTML = result;
                }
            }
            //TODO :
        });
    </script>
</form>
